<?xml version="1.0"?>
<SAMLConfigurations xmlns="urn:componentspace:SAML:2.0:configuration">
  
  <!--1st service ID : ActivantsSAMLSP1-->
    <SAMLConfiguration ID="ActivantsSAMLSP1">
        <ServiceProvider Name="123456789"
                         Description="Activants Service Provider"
                         AssertionConsumerServiceUrl="https://localhost:44364/SAML/AssertionConsumerService"
                         LocalCertificateFile="Certificates\sp.pfx"
                         LocalCertificatePassword="activants"/>

        <PartnerIdentityProviders>
          <PartnerIdentityProvider Name="https://login.xecurify.com/moas/198052/8ab7a98c-0cce-11ea-a703-02c931e36dd8"
                                   Description="Activants IDP"
                                   SignAuthnRequest="true"
                                   SingleSignOnServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
                                   SingleLogoutServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
                                   WantSAMLResponseSigned="true"
                                   WantAssertionSigned ="true"
                                   SignLogoutRequest="true"
                                   WantLogoutResponseSigned="false"
                                   SignatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
                                   SingleSignOnServiceUrl="https://login.xecurify.com/moas/idp/samlsso/8ab7a98c-0cce-11ea-a703-02c931e36dd8"
                                   SingleLogoutServiceUrl="https://login.xecurify.com/moas/idp/samllogout/8ab7a98c-0cce-11ea-a703-02c931e36dd8?cid=198052"
                                   PartnerCertificateFile="Certificates\ActivantsSAMLSP1IDP.cer"/>
        </PartnerIdentityProviders>
      </SAMLConfiguration>

  <!--2nd service ID : ActivantsSAMLSP2-->
      <SAMLConfiguration ID="ActivantsSAMLSP2">
        <ServiceProvider Name="987654321"
                         Description="Activants Service Provider"
                         AssertionConsumerServiceUrl="https://localhost:44364/SAML/AssertionConsumerService"
                         LocalCertificateFile="Certificates\sp.pfx"
                         LocalCertificatePassword="activants"/>

        <PartnerIdentityProviders>
          <PartnerIdentityProvider Name="https://login.xecurify.com/moas/198052/4a937c12-eb3e-11e9-a210-167b3d02eeb8"
                                   Description="Activants IDP"
                                   SignAuthnRequest="true"
                                   SingleSignOnServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
                                   SingleLogoutServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
                                   WantSAMLResponseSigned="true"
                                   WantAssertionSigned ="true"
                                   SignLogoutRequest="true"
                                   WantLogoutResponseSigned="false"
                                   SignatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
                                   SingleSignOnServiceUrl="https://login.xecurify.com/moas/idp/samlsso/4a937c12-eb3e-11e9-a210-167b3d02eeb8"
                                   SingleLogoutServiceUrl="https://login.xecurify.com/moas/idp/samllogout/4a937c12-eb3e-11e9-a210-167b3d02eeb8?cid=198052"
                                   PartnerCertificateFile="Certificates\ActivantsSAMLSP2IDP.cer"/>
        </PartnerIdentityProviders>
      </SAMLConfiguration>
  
  
</SAMLConfigurations>