<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <customErrors mode="On" defaultRedirect="https://schemes-uat.imda.gov.sg/error.htm" />
    <httpRuntime targetFramework="4.5" />
    <!--    <machineKey decryptionKey="2874ED02FD76C9DC7E79C4579C052CEED53552F90E14F550,IsolateApps" validationKey="B9E0443BB625F9EA6C0FE44E0F34AF017DF21468845E0D00FAEE47D62D51D42AE0C2AEF0599F35D5C1F0D806F547015B40A23F32FC3AD7115365B75D549A753D,IsolateApps" />-->
  </system.web>

  <appSettings>
    <add key="ENVIRONMENT" value="UAT" />

    <!-- Application specific return URL -->
    <add key="retURL_UAT" value="https://schemes-uat.imda.gov.sg/SingPassAuth/verify.aspx" />
    <add key="retURL_PRD" value="https://schemes.mda.gov.sg/SingPassAuth/verify.aspx" />

    <!--Singpass Login Page URL.-->
    <add key="SingpassURL_UAT" value="https://stg-saml.singpass.gov.sg/FIM/sps/SingpassIDPFed/saml20/logininitial" />
    <add key="SingpassURL_PRD" value="https://saml.authgateway.gov.sg/FIM/sps/SingpassIDPFed/saml20/logininitial" />

    <!--CorpPass Login Page URL.-->
    <add key="CorppassURL_UAT" value="https://stg-saml.corppass.gov.sg/FIM/sps/CorpIDPFed/saml20/logininitial" />
    <add key="CorppassURL_PRD" value="https://saml.authgateway.gov.sg/FIM/sps/SingpassIDPFed/saml20/logininitial" />

    <!-- Service Provider URL -->
    <add key="SAMLSP_URL_UAT" value="https://samlsppilot.imda.gov.sg/SAMLSP/SAML/AssertionConsumerService.aspx" />
    <add key="SAMLSP_URL_PRD" value="https://samlsp.imda.gov.sg/SAMLSP/SAML/AssertionConsumerService.aspx" />

    <!--CorpPass- Service Provider URL-->
    <add key="SAMLSP_CP_URL_UAT" value="https://samlsppilot.imda.gov.sg/SAMLSP/SAML/AssertionConsumerService_CP.aspx" />
    <add key="SAMLSP_CP_URL_PRD" value="https://samlsp.imda.gov.sg/SAMLSP/SAML/AssertionConsumerService_CP.aspx" />

    <!-- Service ID -->
    <add key="SERVICE_ID_UAT" value="OSAM" />
    <add key="SERVICE_ID_PRD" value="OSAM" />

    <!-- CorpPass - Service ID -->
    <add key="SERVICE_ID_CP_UAT" value="OSAM-CP" />
    <add key="SERVICE_ID_CP_PRD" value="OSAM-CP" />

    
    
    
    
    
    
    
    
    
    

    <add key="HOME_PAGE_UAT" value="https://schemes-uat.imda.gov.sg/OGMS/forms/ogms-internet" />
    <add key="HOME_PAGE_PRD" value="https://schemes.mda.gov.sg/OGMS/forms/ogms-internet" />

    <add key="RETURN_URL_UAT" value="https://schemes-uat.imda.gov.sg/SingPassAuth/verify.aspx" />
    <add key="RETURN_URL_PRD" value="https://schemes.mda.gov.sg/SingPassAuth/verify.aspx" />

    <add key="LOGIN_URL_UAT" value="https://schemes-uat.imda.gov.sg/OGMS/forms/ogms-internet/mda-login-select-p2.form" />
    <add key="LOGIN_URL_PRD" value="https://schemes.mda.gov.sg/OGMS/forms/ogms-internet/mda-login-select-p2.form" />

    <add key="LOGIN_URL_IND_UAT" value="https://schemes-uat.imda.gov.sg/OGMS/forms/ogms-internet/mda-login-select-ind.form" />
    <add key="LOGIN_URL_IND_PRD" value="https://schemes.mda.gov.sg/OGMS/forms/ogms-internet/mda-login-select-ind.form" />

    <add key="IND_REG_URL_UAT" value="https://schemes-uat.imda.gov.sg/OGMS/forms/ogms-internet/mda-registration-individual.form" />
    <add key="IND_REG_URL_PRD" value="https://schemes.mda.gov.sg/OGMS/forms/ogms-internet/mda-registration-individual.form" />

    <add key="ORG_REG_URL_UAT" value="https://schemes-uat.imda.gov.sg/OGMS/forms/ogms-internet/mda-registration-organisation.form" />
    <add key="ORG_REG_URL_PRD" value="https://schemes.mda.gov.sg/OGMS/forms/ogms-internet/mda-registration-organisation.form" />

	<!-- SGDS CorpPass -->
	
    <add key="SGDS_HOME_PAGE_UAT" value="https://schemes-uat.imda.gov.sg/SGDS/Pages/Default.aspx"/>
    <add key="SGDS_HOME_PAGE_PRD" value="https://schemes.imda.gov.sg/SGDS/Pages/Default.aspx"/>

    <add key="SGDS_LOGIN_URL_UAT" value="https://schemes-uat.imda.gov.sg/SGDS/Pages/VerifyLogin.aspx"/>
    <add key="SGDS_LOGIN_URL_PRD" value="https://schemes.imda.gov.sg/SGDS/Pages/VerifyLogin.aspx"/>
	
    <add key="SGDS_ORG_REG_URL_UAT" value="https://schemes-uat.imda.gov.sg/SGDS/Pages/VerifyLogin.aspx" />
    <add key="SGDS_ORG_REG_URL_PRD" value="https://schemes.imda.gov.sg/SGDS/Pages/VerifyLogin.aspx"/>
	
    <!--<add key="LOG_UAT" value="\\evs07\ogms_stg\LOG\SP\"/>-->
    <add key="LOG_UAT" value="D:\SingPassAuth\log\" />
    <add key="LOG_PRD" value="D:\SingPassAuth\log\" />
    <add key="EncryptionKey" value="STPNET2015HSERUS"/>
    
  </appSettings>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
    </system.webServer>

<!--<system.web>
	<httpCookies httpOnlyCookies="true" requireSSL="true">
</system.web>-->

</configuration>