<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">

  <ServiceProvider Name="https://localhost:44308"
                   Description="Activants Service Provider"
                   AssertionConsumerServiceUrl="https://localhost:44308/SAML/AssertionConsumerService"
                   LocalCertificateFile="Certificates\sp.pfx"
                   LocalCertificatePassword="activants"/>
  
  <PartnerIdentityProviders>
    <PartnerIdentityProvider Name="https://login.xecurify.com/moas/198052/c5d78e07-fb7e-11e9-8d57-167b3d02eeb8"
                             Description="Activants IDP"
                             SignAuthnRequest="true"
                             SingleSignOnServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
                             SingleLogoutServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
                             WantSAMLResponseSigned="true"
                             SignLogoutRequest="true"
                             WantLogoutResponseSigned="false"
                             SignatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
                             SingleSignOnServiceUrl="https://login.xecurify.com/moas/idp/samlsso/c5d78e07-fb7e-11e9-8d57-167b3d02eeb8"
                             SingleLogoutServiceUrl="https://login.xecurify.com/moas/idp/samllogout/c5d78e07-fb7e-11e9-8d57-167b3d02eeb8?cid=198052"
                             PartnerCertificateFile="Certificates\idp.cer"/>
  </PartnerIdentityProviders>
</SAMLConfiguration>